body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(10deg, rgb(151, 0, 126), rgb(0, 97, 189));
}

.test-task{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    overflow: hidden;
}

.task-text{
    padding-left: 1vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.task-container{
    padding: 2.5vmin;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 3vmin;
    overflow: hidden;
}

canvas{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}

.line-effect{
    filter: blur(10px);
}

.matchborder{
    width: 40vmin;
    display:flex;
    flex-direction: column;
}

.matchrow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.matchelem{
    width:fit-content;
    height: fit-content;
    background-color: rgb(193, 221, 220, 0.1);
    color: white;
    padding: 1vmin;
    margin: 1vmin;
    border: none;
    position: relative;
    z-index: 2;
    border-radius: 2vmin;
    filter: drop-shadow(0 0 5px rgb(202, 217, 240, 0.5));
    border: solid 2px transparent;
}

button{
    background-color: rgb(193, 221, 220, 0.1);
    color: white;
    padding: 1vmin;
    margin: 2vmin 1vmin 1vmin 1vmin;
    border: none;
    position: relative;
    z-index: 2;
    border-radius: 2vmin;
    filter: drop-shadow(0 0 5px rgb(202, 217, 240, 0.5));
    border: solid 2px transparent;
}

.matchelemselected{
    background-color: rgb(117, 248, 205, 0.5);
}

.matchelemjoint{
    box-sizing: border-box;
    border: solid 2px white;
    color:rgb(174, 174, 175);
}