
.diagonal-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25vmax;
    aspect-ratio: 5/3;
    position: relative;
    border-radius: 1vh;
    transition: aspect-ratio 0.3s;
    padding-top: 15%;
    padding-bottom: 15%;
    filter: drop-shadow(0 0 0 white);
    cursor: pointer;
    transition: all 0.2s;
}

@media (max-aspect-ratio: 1/1){
    .diagonal-card{
        width: 80vw;
    }
}

.diagonal-card:hover{
    filter: drop-shadow(0 0 2vmin white);
}

.diagonal-card-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Open sans', sans-serif;
    font-size: 2vmin;
    background-color: rgb(51, 49, 58);
    backdrop-filter: blur(5px);
    position: relative;
    border-radius: 1vmin;
}

@media (max-aspect-ratio: 1/1){
    .diagonal-card-text-container{
        font-size: 2vmax;
    }
}

.diagonal-card-text-container > p{
    padding-right: 2vmin;
    padding-left: 2vmin;
}

.diagonal-card::after{
    content: '';
    width: 60%;
    aspect-ratio: 4/7;
    position: absolute;
    border-radius: 1vmin;
    background-image: linear-gradient(var(--gradient-color1),var(--gradient-color2));
    /*filter: drop-shadow(0 0 0.75rem crimson);*/
    z-index: -2;
    transform: skew(15deg);
    transition: all 0.3s;
}

.diagonal-card:hover::after,.diagonal-card:hover::before{
    transform: skew(0);
}

/*.diagonal-card::before{
    content: '';
    width: 60%;
    aspect-ratio: 3/7;
    position: absolute;
    border-radius: 1vmin;
    --gradient-color1: inherit;
    --gradient-color2: inherit;
    background-image: linear-gradient(var(--gradient-color1),var(--gradient-color2));
    z-index: -2;
    filter: blur(30px);
    transform: skew(15deg);
    transition: all 0.3s;
}*/

.color-sheme1{
    --gradient-color1: rgb(58, 255, 147);
    --gradient-color2: rgb(0, 153, 255);
}

.color-sheme2{
    --gradient-color1: rgb(83, 86, 255);
    --gradient-color2: rgb(17, 100, 255);
}

.color-sheme3{
    
    --gradient-color1: rgb(196, 94, 255);
    --gradient-color2: rgb(255, 60, 197);
}

