body{
    background-color: black;
    background-image: linear-gradient(10deg, rgb(151, 0, 126), rgb(0, 97, 189));
    background-repeat: no-repeat;
    background-size:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow-y: hidden;
    position: relative;
}

html, body {
    overflow-x: hidden;
}
body {
    position: relative;
}

main{
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

@media (max-aspect-ratio: 1/1) {
    body{
        height: auto;
        min-height: 100vh;
        overflow-y: scroll;
    }
    main{
        height: auto;
    }
    .topheader > h1{
        font-size: 8vmin;
    }
}

@media (min-aspect-ratio: 1/1) {
    body{
        min-height: 100vh;
    }
    .topheader > h1{
        font-size: 4vmin;
    }

}



header{
    background-image: linear-gradient(rgb(94, 0, 216), rgb(112, 0, 187));
    /*background-image: linear-gradient(rgb(111, 0, 255), rgb(146, 0, 243));*/
    margin: 0;
}

.topheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-aspect-ratio: 1/1) {
    .nav-container{
        visibility: hidden;
        position: absolute;
    }
    .burger{
        position: absolute;
        left: 0;
    }
}


@media (min-aspect-ratio: 1/1) {
    .burger{
        visibility: hidden;
        position: absolute;
    }
}

.burger{
    border: none;
    height: 100%;
    aspect-ratio: 1/1;
    background-color:transparent;
    background-image: url(../images/burger.png);
    filter: invert();
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.burger-nav-container{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vw;
}

.topheader > h1{
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    margin: 0.5vmin;
    color: white;
    text-align: center;
    align-items: stretch;
}

.login-icon{
    position: absolute;
    right: 0;
    height: 5vmin;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    background-image: url(../images/login.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    justify-self: right;
    filter: invert();
}

nav{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.nav-container{
    overflow: hidden;
    background-color: rgb(51, 54, 59);
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.burger-nav-button{
    position: relative;
    background-image: linear-gradient(rgb(44, 45, 47), rgb(51, 53, 58));
    width: 100vw;
    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
    color: rgb(216, 216, 216);
    text-align: start;
    border: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0;
    margin: 0;
    z-index: 500;
}

.nav-button{
    background-image: linear-gradient(to left,rgb(44, 45, 47), rgb(51, 53, 58));
    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
    color: rgb(216, 216, 216);
    flex-grow: 2;
    text-align: start;
    border: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    margin: 0;
    filter: none;
}

.nav-button:hover, .burger-nav-button:hover{
    color: white;
}

.nav-button::before, .burger-nav-button::before{
    content: '';
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    background-image: linear-gradient(to left,rgb(59, 226, 255),rgba(255, 255, 255, 0));
    /*background-color: rgba(130, 194, 255, 0.2);*/
    transform: translate(-102%);
    transition: 0.3s;
}

.nav-button:hover::before, .burger-nav-button:hover::before{
    transform: translate(0);
}

.nav-button-text{
    position: relative;
    z-index: 4;
    padding: 0;
    padding-left: 1em;
}