.order-task-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 7vh;
    position: relative;
}

.order-task-dropzone{
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-height: 7vh;
    position: relative;
    border-radius: 3vmin;
    border: solid rgb(173, 182, 190) 2px;
    overflow:hidden;
}

.order-elem{
}

.order-elem-selected{
    position: absolute;
}

.marker{
    background-color: greenyellow;
    width: 0;
    height: 20px;
    animation-name: expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes expand {
    from{
        width: 0;
    }
    to{
        width: 100px;
    }
}